<div>
    <button data-id="{{id}}">View Comments ({{Comments.length}})</button>

    <div data-id="{{id}}">
        {{#each Comments}}
            <div>
                <h4>{{User.username}}</span> commented:</h4>
                <p>&nbsp&nbsp&nbsp&nbsp&nbsp{{body}}</p>
                <h4>- {{createdAt}}</h4>
            </div>
        {{/each}}
        <button data-id="{{id}}">Hide Comments</button>
    </div>
</div>